*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none; }

body {
  background-color: #1C77AC; }

a {
  color: inherit;
  text-decoration: none; }

.login {
  width: 400px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .login-logo-img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    height: auto;
    padding-bottom: 20px; }
  .login__form input:not([type="submit"]) {
    display: block;
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 20px;
    padding: 15px;
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    outline: none; }
    .login__form input:not([type="submit"])::placeholder {
      font-weight: bold; }
    .login__form input:not([type="submit"]):not(:first-child) {
      margin-top: 20px; }
  .login__form input[type="submit"] {
    width: 150px;
    background-color: #ffffff;
    color: #1C77AC;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    height: 30px;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    outline: none; }
  .login__down {
    margin: 0 auto;
    margin-top: 20px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .login__down a {
      color: #ffffff;
      font-family: "Helvetica", sans-serif;
      font-weight: 400;
      font-size: 15px; }

.signup {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .signup__form {
    background-color: #EEEEEE;
    padding: 15px 25px;
    width: 400px; }
    .signup__form label {
      display: block;
      color: #8b95a0;
      font-family: "Helvetica", sans-serif;
      font-weight: 400; }
      .signup__form label:not(:first-child) {
        margin-top: 15px; }
    .signup__form input:not([type="submit"]) {
      width: 100%;
      height: 40px;
      outline-color: #2C6FA7;
      border-radius: 2px;
      border: 1px solid lightgray;
      margin-top: 3px;
      padding: 10px;
      font-family: "Helvetica", sans-serif;
      font-weight: 400;
      font-size: 17px; }
    .signup__form input[type="submit"] {
      background-image: linear-gradient(to top, #2A679C, #2F79B4);
      width: 100%;
      margin-top: 15px;
      cursor: pointer;
      color: #ffffff;
      font-weight: bold;
      font-family: "Helvetica", sans-serif;
      font-size: 17px;
      border: none;
      border-radius: 2px;
      height: 40px; }
  .signup-or {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #8b95a0;
    font-family: "Helvetica", sans-serif;
    font-weight: bold; }
  .signup-down-text {
    margin-top: 10px;
    text-align: center;
    font-family: "Helvetica", sans-serif;
    font-weight: 400; }
    .signup-down-text a {
      color: #2C6FA7;
      font-weight: bold; }

/*# sourceMappingURL=login.css.map */
