<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles/login.css")
        title #{title}
    body

    img(src="https://www.comeet.com/resources/wp-content/uploads/2019/03/linkedin-logo.png", alt="logo")

    script(src="scripts/script.ts")